@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    outline: none;
}
*::placeholder {
    color: #afafaf;
    font-size: 13px;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #212121;
}
::-webkit-scrollbar-thumb {
    background: #dc3545;
}
body{
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    background: #33505a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    height: 130px;
    width: 130px;

}
img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
h3{
    color: #fff;
    margin-bottom: 25px;
    letter-spacing: 3px;
    font-weight: 900;
    margin-top: 10px;
}


.centerall{
    width: 620px;
    padding: 50px 0;
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;  justify-content: center;
    background: rgba(255, 255, 255, 0.06);
    border: 1px solid #c1ca44;
    border-radius: 30px;
    flex-direction: column;
    align-items: center;

}

.centerall .form{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.skbox{
    width: 100%;
    display: flex;
    height: 40px;
}
.skbox input{
    width: 100%;
    background: transparent;
    padding: 5px 20px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #c1ca44;
    color: #e5e5e5;
    outline: none;
    height: 100%;
}
.skbox #ModalMsg,
.skbox div{
    color: #fff;
    height: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #c1ca44;
    border-top: 1px solid #c1ca44;
    border-bottom: 1px solid #c1ca44;
    padding: 0 10px;
}
.skbox #ModalMsg{
    border-radius: 0 5px 5px 0;
    color: #fff;
    min-width: 100px;
}
.skbox div{
    cursor: pointer;
    background: #c1ca44;
    transition: 0.5s;
}
.skbox div:hover{
    letter-spacing: 1px;
    color: #fff;
}


.form label{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #fff;
}
textarea{
    width: 100%;
    height: 100px;
    background: transparent;
    border: 1px solid #c1ca44;
    resize: none;
    padding: 15px;
    color: #e5e5e5;
    border-radius: 10px;
    font-size: 16px;
}
textarea#numbers{
    height: 200px;
}
textarea::-webkit-scrollbar-track {
    background: transparent;
}
textarea::-webkit-scrollbar {
    padding: 20px;
}

input[type=submit] {
    background-color: transparent;
    border: 1px solid #c1ca44;
    border-radius: 5px;
    color: #fff;
    padding: 14px 20px;
    cursor: pointer;
    width: 100%;
    transition: 1s;
    margin-top: 25px;
    font-weight: bold;
    font-size: 15.5px;
    letter-spacing: 1px;
}
input[type=submit]:hover {
    background-color: #fff;
    color: #000;
    letter-spacing: 2px;
}
header{
    box-shadow: 0 1px 10px rgba(255, 255, 255, 0.08);
}
.navbar{
    box-shadow: 0 1px 10px rgba(255, 255, 255, 0.08);
    background: #212121;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    background: #212121;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 7em;
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 20px;

}

.nav-link{
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    padding: 7px 12px;
    font-weight: 400;
    letter-spacing: 2px;
    transition: .5s;
    font-size: 15px;
    font-weight: 800;
}


.nav-link:hover,.nav-link.active{
  border-bottom: 1px solid #17a2b8;
  color: 17a2b8;
}
.imgbxx{
    width: 40px;
    height: 40px;

}
.nav-linkcaret{
    width: 100%;
    border-radius: 50%;
}

.nav-logo {
  color: #fff;
  font-weight: 700;
  font-size: 2.1em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  z-index: 1;
}

#response{
    width: 100%;
}





.ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    color: #fff;
    margin-bottom: 10px;

}
.ul li{
    margin: 5px 0;
}
.ul li span{
    margin-left: 10px;

}
.ul li:nth-child(1) {
    color: #78ff00;
}
.ul li:nth-child(2) {
    color: #e56161;
}
.ul li:nth-child(3) {
    color: #00adff;
}


.nav-item.mobile{
    display: none;
}
.form input[type=text]{
    width: 100%;
    height: 40px;
    padding: 15px;
    color: #e5e5e5;
    border-radius: 8px;
    background: transparent;
    border: 1px solid #696868;
}
@media only screen and (max-width: 1120px) {
  .navbar{
    padding: 12px 3em;
  }
}
@media only screen and (max-width: 560px) {
    .centerall{
        background: transparent;
        border: none;
    }
}